<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptChat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body>
    <div class="container py-5 px-4">
        <div class="row rounded-lg overflow-hidden shadow">
            <div class="col-5 px-0">
                <div class="bg-white">
                    <div class="bg-gray px-4 py-2 bg-light">
                        <p class="h5 mb-0 py-1"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a><a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i></a></p>
                    </div>

                    <div class="messages-box">
                        <div class="list-group rounded-0" id="conversationsWindow">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat Box-->
            <div class="col-7 px-0">
                <div class="px-4 py-5 chat-box bg-white" id="chatWindow">

                </div>


                <div class="input-group">
                    <input type="text" id="message" placeholder="Type a message" aria-describedby="button-addon2"
                        class="form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon2" type="submit" class="btn btn-link" onclick="sendMessage()"> <i
                                class="fa fa-paper-plane"></i></button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>

        var lastTimestamp = 0;
        var currentConversation;



        const chatWindow = document.getElementById('chatWindow');
        const conversationsWindow = document.getElementById('conversationsWindow');

        function checkURLPattern() {
            const currentURL = window.location.pathname;
            const pattern = /^\/chats\/[a-zA-Z0-9]+$/;
            const isMatched = pattern.test(currentURL);
            return isMatched;
        }

        function extractHashFromURL() {
            const currentURL = window.location.pathname;
            const pattern = /^\/chats\/([a-zA-Z0-9]+)$/;
            const match = currentURL.match(pattern);
            if (match && match[1]) {
                const hash = match[1];
                return hash;
            }
            return null;
        }

        var sharedKey = null;

        function fetchMessages() {
            fetch('/messages/latest/' + currentConversation + '?timestamp=' + lastTimestamp)
                .then(response => response.json())
                .then(data => {
                    data.messages.forEach(message => {
                        chatWindow.insertAdjacentHTML('beforeend', renderMessage(decryptMessage(message.message_text, sharedKey), message.own));

                        lastTimestamp = message.timestamp
                    });
                })
                .catch(error => console.error('Error fetching messages:', error));
        }
        window.onload = async function () {
            try {

                await getUsers();

            } catch (error) {
                console.error('Error:', error);
            }
        };

        function renderUser(username) {
            const sanitizeUsername = DOMPurify.sanitize(username);
            let htmlContent = `
                <a onclick="openChat('${username}')" id="chatItem-${username}"  class="list-group-item list-group-item-action list-group-item-light rounded-0">
                                <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg"
                                        alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-4">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <h6 class="mb-0">${sanitizeUsername}</h6><small class="small font-weight-bold">2
                                                Sep</small>
                                        </div>
                                        <p class="font-italic text-muted mb-0 text-small">Quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </a>
                `
            return htmlContent;
        }

        function renderMessage(message, own = false) {

            const sanitizedMessage = DOMPurify.sanitize(message);

            let htmlContent = `
                <div class="media w-50 mb-3"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg"
                    alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                         <div class="bg-light rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-muted">${sanitizedMessage}</p>
                        </div>
                    <p class="small text-muted">12:00 PM | Aug 13</p>
                </div>
                </div>
                `;




            if (own) {
                htmlContent = `
                     <div class="media w-50 ml-auto mb-3">
                        <div class="media-body">
                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-white">${sanitizedMessage}</p>
                            </div>
                            <p class="small text-muted">12:00 PM | Aug 13</p>
                        </div>
                    </div>
                `;

            }
            return htmlContent;
        }

        async function openChat(username) {

            const chatItem = document.getElementById(`chatItem-${username}`);
            chatWindow.innerHTML = "";
            const activeElements = document.getElementsByClassName('active');
            for (const element of activeElements) {
                element.classList.remove('active');
            }
            lastTimestamp = 0;

            const { hash, key } = await getConversationHashAndKey(username);
            currentConversation = hash;
            sharedKey = key;
            fetchMessages();
            chatItem.classList.add('active');
        }

        async function getConversationHashAndKey(username) {
            return fetch('/new/' + username)
                .then(response => response.json())
                .then(data => {
                    return {
                        hash: data.hash,
                        key: data.sharedKey
                    }

                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error;
                });
        }

        async function getUsers() {
            return fetch('/users')
                .then(response => response.json())
                .then(data => {
                    data.users.forEach(user => {
                        conversationsWindow.insertAdjacentHTML('beforeend', renderUser(user.username));

                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error;
                });
        }

        async function getConversations() {
            return fetch('/conversations')
                .then(response => response.json())
                .then(data => {

                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error;
                });
        }

        function encryptMessage(message, sharedKey) {
            return CryptoJS.AES.encrypt(message, sharedKey).toString();
        }
        function decryptMessage(message, sharedKey) {
            try {
                return CryptoJS.AES.decrypt(message, sharedKey).toString(CryptoJS.enc.Utf8);
            } catch (error) {
                console.error("Error while decrypting message:", error.message);
                return null;
            }
            return CryptoJS.AES.DEDC(message, sharedKey).toString();
        }
        function sendMessage() {
            let message = document.getElementById("message").value;
            document.getElementById("message").value = "";
            const dataToSend = {
                conversation_hash: currentConversation,
                message: encryptMessage(message, sharedKey)
            };
            return fetch('/messages', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dataToSend),
            })
                .then(response => response.json())
                .then(data => {
                 
                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error;
                });
                

        }
        setInterval(fetchMessages, 3000);


    </script>

</body>

</html>