<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptChat</title>
    <link rel="icon" href="/public/cryptchat.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <style>

    </style>
</head>

<body>
    <div class="container py-5 px-4">
        <div class="row rounded-lg overflow-hidden shadow">
            <div class="col-12 col-md-5 px-0 d-md-block" id="users">
                <div class="bg-white">
                    <div class="bg-gray px-4 py-2 bg-light">
                        <p class="h5 mb-0 py-1">
                            <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                            <a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
                            <a href="/chat"><i class="fa fa-comments" aria-hidden="true"></i></a>
                        </p>
                    </div>
                    <div class="messages-box">
                        <input placeholder="Search for users: " type="text"
                            class="user-search form-control rounded-0 border-0 py-4 " id="searchInput"
                            onchange="searchUser()" />
                        <div class="d-flex justify-content-center" id="usersLoading">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="list-group rounded-0" id="conversationsWindow">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat Box-->
            <div class="col-12 col-md-7 px-0 d-none d-md-block" id="chats">
                <div class="bg-gray px-4 py-2 bg-light d-md-none" id="chatNavSection">
                    <p class="h5 mb-0 py-1">
                        <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        <a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        <a href="/chat"><i class="fa fa-comments" aria-hidden="true"></i></a>
                    </p>
                </div>
                <div class="d-flex justify-content-center" id="messagesLoading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="px-4 py-5 chat-box bg-white" id="chatWindow">
                </div>
                <div id="emojiModal">
                    <h6>Choose an Emoji</h6> <button onclick="closeEmojiModal()">Close</button>
                    <div class="row">
                        <div class="col">
                            <div class="emoji" onclick="insertEmoji('😀')">😀</div>
                            <div class="emoji" onclick="insertEmoji('😄')">😄</div>
                            <div class="emoji" onclick="insertEmoji('😊')">😊</div>
                            <div class="emoji" onclick="insertEmoji('🥰')">🥰</div>
                        </div>
                        <div class="col">

                            <div class="emoji" onclick="insertEmoji('😎')">😎</div>
                            <div class="emoji" onclick="insertEmoji('😀')">😀</div>
                            <div class="emoji" onclick="insertEmoji('😄')">😄</div>
                            <div class="emoji" onclick="insertEmoji('😊')">😊</div>
                        </div>
                        <div class="col">
                            <div class="emoji" onclick="insertEmoji('🥰')">🥰</div>
                            <div class="emoji" onclick="insertEmoji('😎')">😎</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" id="message" placeholder="Type a message " aria-describedby="button-addon2"
                        class="form-control rounded-0 border-0 py-4 bg-light">

                    <div class="input-group-append" style="background: white;">
                        <button id="button-picture" class="btn btn-link"><i class="fa  fa-picture-o"></i></button>
                        <input type="file" id="fileInput" style="display: none;">
                        <button id="button-emoji" type="submit" class="btn btn-link" onclick="showEmojiContainer()"> <i
                                class="fa  fa-smile-o"></i></button>
                        <button id="button-addon2" type="submit" class="btn btn-link" onclick="sendMessage()"> <i
                                class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <audio id="audioElement">
        <source src="/public/alert.wav" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <script src="/public/purify.min.js"></script>
    <script src="/public/crypto-js.js"></script>
    <script src="/public/chat.js">  </script>
    <script>
        let buttonPicture = document.getElementById("button-picture");


        buttonPicture.addEventListener('click', function () {
            fileInput.click();
        });

        var fileInput = document.getElementById('fileInput');

        fileInput.addEventListener('change', function () {
            var selectedFile = fileInput.files[0];

            if (selectedFile) {
                var reader = new FileReader();

                reader.onload = function (event) {
                    var base64Data = event.target.result.split(',')[1];
                    var mimeType = event.target.result.split(':')[1].split(';')[0];
                    sendMessage("data:" + mimeType + ";base64," + base64Data);

                };
                reader.readAsDataURL(selectedFile);
            } else {
                resultDiv.innerHTML = 'Please select a file.';
            }
        });
        const emojiModal = document.getElementById('emojiModal');
        const emojiButton = document.getElementById('emojiButton');
        const emojiText = document.getElementById('emojiText');

        function insertEmoji(emoji) {
            const message = document.getElementById('message');
            message.value += emoji;
            closeEmojiModal();
        }
        function showEmojiContainer() {
            emojiModal.style.display = 'block';
        }

        function closeEmojiModal() {
            emojiModal.style.display = 'none';
        }
    </script>
    <script>
        async function searchUser() {
            const userLoading = document.getElementById("usersLoading");
            const searchInput = document.getElementById("searchInput");
            const searchQuery = searchInput.value;
            userLoading.style.visibility = "visible";
            fetch("/users/search", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ query: searchQuery }),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then((data) => {
                    userLoading.style.visibility = "hidden";
                    conversationsWindow.innerHTML = "";
                    data.users.forEach(async user => {
                        conversationsWindow.insertAdjacentHTML('beforeend', await renderUser(user.username));

                    });
                })
                .catch((error) => {
                    console.error("Fetch error:", error);
                });
        }
    </script>
</body>

</html>