<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptChat</title>
    <link rel="stylesheet" href="/public/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body>
    <div class="container py-5 px-4">
        <div class="row rounded-lg overflow-hidden shadow">
            <div class="col-5 px-0">
                <div class="bg-white">
                    <div class="bg-gray px-4 py-2 bg-light">
                        <p class="h5 mb-0 py-1">Recent</p>
                    </div>

                    <div class="messages-box">
                        <div class="list-group rounded-0" id="conversationsWindow">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat Box-->
            <div class="col-7 px-0">
                <div class="px-4 py-5 chat-box bg-white" id="chatWindow">

                    <!-- Sender Message-->
                    <div class="media w-50 mb-3"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg"
                            alt="user" width="50" class="rounded-circle">
                        <div class="media-body ml-3">
                            <div class="bg-light rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-muted">Test, which is a new approach</p>
                            </div>
                            <p class="small text-muted">12:00 PM | Aug 13</p>
                        </div>
                    </div>

                    <!-- Reciever Message-->
                    <div class="media w-50 ml-auto mb-3">
                        <div class="media-body">
                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
                            </div>
                            <p class="small text-muted">12:00 PM | Aug 13</p>
                        </div>
                    </div>

                </div>


                <div class="input-group">
                    <input type="text" id="message" placeholder="Type a message" aria-describedby="button-addon2"
                        class="form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon2" type="submit" class="btn btn-link" onclick="sendMessage()"> <i
                                class="fa fa-paper-plane"></i></button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>
        const chatWindow = document.getElementById('chatWindow');
        const conversationsWindow = document.getElementById('conversationsWindow');
        var sharedKey = null;
        window.onload = async function () {
            try {
                await getMessages();
                await  getUsers();
            } catch (error) {
                console.error('Error:', error);
            }
        };

        function renderUser(username) {
            const sanitizeUsername = DOMPurify.sanitize(username);
                let htmlContent = `
                <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                                <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg"
                                        alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-4">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <h6 class="mb-0">${sanitizeUsername}</h6><small class="small font-weight-bold">2
                                                Sep</small>
                                        </div>
                                        <p class="font-italic text-muted mb-0 text-small">Quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </a>
                `
                return htmlContent;
        }

        function renderMessage(message, own=false) {

            const sanitizedMessage = DOMPurify.sanitize(message);

            let htmlContent = `
                <div class="media w-50 mb-3"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg"
                    alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                         <div class="bg-light rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-muted">${sanitizedMessage}</p>
                        </div>
                    <p class="small text-muted">12:00 PM | Aug 13</p>
                </div>
                </div>
                `;


        

            if(own) {
                 htmlContent = `
                     <div class="media w-50 ml-auto mb-3">
                        <div class="media-body">
                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-white">${sanitizedMessage}</p>
                            </div>
                            <p class="small text-muted">12:00 PM | Aug 13</p>
                        </div>
                    </div>
                `;

            }
            return htmlContent;
        }

        async function getMessages() {
            return fetch('/conversations/1')
                .then(response => response.json())
                .then(data => {
                    sharedKey = JSON.parse(data.conversation.sharedKey).sharedKeyA;
                    data.messages.forEach(element => {
                        chatWindow.insertAdjacentHTML('beforeend', renderMessage(decryptMessage(element.message_text,sharedKey),element.own));
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error; 
                });
        }
        async function getUsers() {
            return fetch('/users')
                .then(response => response.json())
                .then(data => {
                    data.users.forEach(user => {
                        conversationsWindow.insertAdjacentHTML('beforeend', renderUser(user.username));

                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error; 
                });
        }

        async function getConversations() {
            return fetch('/conversations')
                .then(response => response.json())
                .then(data => {

                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error; 
                });
        }

        function encryptMessage(message, sharedKey) {
            return CryptoJS.AES.encrypt(message, sharedKey).toString();
        }
        function decryptMessage(message, sharedKey) {
            try {
                return CryptoJS.AES.decrypt(message, sharedKey).toString(CryptoJS.enc.Utf8);
            } catch (error) {
                console.error("Error while decrypting message:", error.message);
                return null;
            }
            return CryptoJS.AES.DEDC(message, sharedKey).toString();
        }
        function sendMessage() {
            let message = document.getElementById("message").value;
            console.log(sharedKey)
            const dataToSend = {
                conversation_id: 5,
                message: encryptMessage(message, sharedKey)
            };
            return fetch('/messages', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dataToSend),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
               
                    chatWindow.insertAdjacentHTML('beforeend', renderMessage(message,true));
                 
                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error;
                });

        }

    </script>

</body>

</html>