<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/users">
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/logs">
                                Logs
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="mt-4">Admin Dashboard</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-header">
                               Websocket Server
                            </div>
                            <div class="card-body" style="overflow: scroll; height: 600px; ">
                                <table class="table" id="websocketLogsTable">
                                    <thead>
                                        <tr>
                                            <th>timestamp</th>
                                            <th>message</th>
                                
                                        </tr>
                                    </thead>
                                    <tbody id="userTableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-header">
                               HTTP server
                            </div>
                            <div class="card-body" style="overflow: scroll; height: 600px; ">
                                <table class="table" id="httpLogsTable">
                                    <thead>
                                        <tr>
                                            <th>timestamp</th>
                                            <th>request_method</th>
                                            <th>request_uri</th>
                                            <th>remote_addr</th>
                                        </tr>
                                    </thead>
                                    <tbody id="userTableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
<script>
            async function fetchHttpLogs() {
            const response = await fetch('/api/httplogs');
            const data = await response.json();
            const userTableBody = document.getElementById('httpLogsTable');
            data.logs.reverse().forEach(log => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${log.timestamp}</td>
                    <td>${log.request_method}</td>
                    <td>${log.request_uri}</td>
                    <td>${log.remote_addr}</td>
                `;
                userTableBody.appendChild(row);
            });
        }
        async function fetchWebsocketLogs() {
            const response = await fetch('/api/websocketlogs');
            const data = await response.json();
            const userTableBody = document.getElementById('websocketLogsTable');
            data.logs.reverse().forEach(log => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${log.timestamp}</td>
                    <td>${log.message}</td>
   
                `;
                userTableBody.appendChild(row);
            });
        }

        fetchWebsocketLogs()
        fetchHttpLogs();
</script>
    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

