<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/cryptchat.ico">
    <link rel="manifest" href="/public/manifest.json">
    <title>CryptChat</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link type="text/css" href="/public/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/public/cover.css" rel="stylesheet">
</head>

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="background: #1a1818;">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand"><img src="/public/cryptchat.png" width="150"></h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <div class="hero-image">
                <div class="hero-text">
                    <h1>Welcome to CryptChat</h1>
                    <p>Self Hosted Privacy Focused Messenger</p>
                    <p>Coming soon to Docker</p>
                    <a href="/register" class="btn btn-primary">Get Started Now!</a>
                </div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>CryptChat 2023<a>
            </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/public/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="/public/popper.min.js"></script>
    <script  type="text/javascript" src="/public/bootstrap.bundle.min.js"></script>

    <script>

       
if ("serviceWorker" in navigator) { navigator.serviceWorker.register("/public/service-worker.js"); }
        
    </script>
</body>

</html>