<!DOCTYPE html>
<html>

<head>
    <title>WebSocket Client</title>
</head>

<body>
    <h1>WebSocket Client</h1>
    <div id="messages"></div>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Enter your message">
        <button type="submit">Send</button>
    </form>

    <script>
    // Then some JavaScript in the browser:
    var conn = new WebSocket('ws://localhost:8080/chat');
    conn.onmessage = function(e) { console.log(e.data );   ;
 };
    conn.onopen = function(e) { conn.send('Hello Me!'); };
    </script>
</body>

</html>