<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/cryptchat.ico">

    <title>CryptChat</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="/public/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/signin.css" rel="stylesheet">
</head>

<body class="text-center" style="background: #1a1818;"></body>>
<div class="container">
    <div class="alert alert-success" role="alert" style="display: none;" id="alertSuccess">
    </div>
    <div class="alert alert-danger" role="alert" style="display: none;" id="alertError">
    </div>
    <form class="form-signin" onsubmit="submitForm(event)">
        <img src="/public/cryptchat.png" width="150">

        <h1 class="h3 mb-3 font-weight-normal" style="color: white;">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
</div>
<script>
    function submitForm(event) {
        event.preventDefault();
        const username = document.getElementById('inputUsername').value;
        const password = document.getElementById('inputPassword').value;
        const data = {
            username: username,
            password: password
        };
        fetch('/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {

                return response.json();
            })
            .then(data => {
                if (data.type === "error") {
                    throw new Error(data.message);
                }
                let alert = document.getElementById("alertSuccess")
                alert.style.display = "block";
                alert.innerHTML = data.message;
                setTimeout(function () {
                    window.location.href = "/chat";

                }, 1000)
            })
            .catch(error => {
                let alert = document.getElementById("alertError")
                alert.style.display = "block";
                alert.innerHTML = error;

            });
    }
</script>
</body>

</html>